.dot {
  background-image: url("https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcRBLXh6UTPGZy1H9Oq_UUdhLqh06Ns-SbV6xQ&usqp=CAU");
  background-size: cover;
  height: 50px;
  width: 50px;
  border-radius: 50%;
}

.header-image {
  background-image: url("https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcRBLXh6UTPGZy1H9Oq_UUdhLqh06Ns-SbV6xQ&usqp=CAU");
  background-size: cover;
}

.viewport {
  height: 250px;
}

.item {
  height: 50px;
}

.messages-loading-shade {
  position: absolute;
  top: 0;
  left: 0;
  bottom: 0;
  right: 0;
  background: #fff;
  opacity: 0.5;
  z-index: 1;
  display: flex;
  align-items: center;
  justify-content: center;
}

.users-loading-shade {
  position: absolute;
  top: 0;
  left: 0;
  bottom: 0;
  right: 0;
  background: #fff;
  opacity: 0.5;
  z-index: 1;
  display: flex;
  align-items: center;
  justify-content: center;
}

.list {
  overflow-y: auto;
}

.avatar {
  vertical-align: middle;
  width: 40px !important;
  height: 40px !important;
  border-radius: 50%;
}

.avatar-chat {
  vertical-align: middle;
  width: 50px;
  height: 50px;
  border-radius: 50%;
}
