<h1>Chat</h1>
<p *ngIf="loggedIn.roles[0] === 'doctor'">
  A continuación podrá visualizar los pacientes que tiene a cargo a quienes les
  puede enviar mensajes.
</p>
<p *ngIf="loggedIn.roles[0] === 'paciente'">
  A continuación podrá visualizar sus doctores asignados a quienes les puede
  enviar mensajes.
</p>
<div class="row">
  <div class="col-md-4">
    <mat-card style="height: 394.56px" class="list">
      <mat-progress-bar
        *ngIf="isLoadingUsers"
        mode="indeterminate"
      ></mat-progress-bar>
      <mat-selection-list class="pt-0" [multiple]="false">
        <mat-list-option *ngFor="let user of users" (click)="selectUser(user)">
          <!-- <div mat-line>{{ user.nombres }}</div> -->
          <!-- <div class="d-flex align-items-center"> -->
          <img
            *ngIf="loggedIn.roles[0] === 'doctor'"
            src="assets/img/user.png"
            alt="Avatar"
            class="avatar"
            mat-list-icon
          />
          <img
            *ngIf="loggedIn.roles[0] === 'paciente'"
            src="assets/img/doctor.png"
            alt="Avatar"
            class="avatar"
            mat-list-icon
          />
          <!-- <mat-icon mat-list-icon>folder</mat-icon> -->
          <div mat-line>{{ user.nombres }}</div>
          <!-- <div mat-line>{{ user.telefono }}</div> -->
          <!-- </div> -->
        </mat-list-option>
      </mat-selection-list>
      <div class="users-loading-shade" *ngIf="isLoadingMessages"></div>
    </mat-card>
  </div>
  <div class="col-md-8">
    <mat-card *ngIf="selectedUser">
      <mat-card-header class="mb-2">
        <img
          *ngIf="loggedIn.roles[0] === 'doctor'"
          src="assets/img/user.png"
          alt="Avatar"
          class="avatar-chat"
          mat-card-avatar
        />
        <img
          *ngIf="loggedIn.roles[0] === 'paciente'"
          src="assets/img/doctor.png"
          alt="Avatar"
          class="avatar-chat"
          mat-card-avatar
        />
        <mat-card-title>{{
          selectedUser.nombres + " " + selectedUser.apellidos
        }}</mat-card-title>
        <mat-card-subtitle class="mb-0">{{
          selectedUser.telefono
        }}</mat-card-subtitle>
      </mat-card-header>

      <mat-card-content class="w-100 mb-0">
        <mat-list role="list">
          <mat-progress-bar
            mode="indeterminate"
            *ngIf="isLoadingMessages"
          ></mat-progress-bar>
          <cdk-virtual-scroll-viewport itemSize="50" class="viewport w-100">
            <mat-list-item
              *cdkVirtualFor="let message of messages"
              [class]="getMessageClass(message) + ' item'"
              role="listitem"
            >
              <!-- {{ message.image }} -->
              <div *ngIf="message.texto">{{ message.texto }}</div>
              <button
                *ngIf="message.image"
                mat-mini-fab
                color="warn"
                (click)="openImage(message.image)"
              >
                <mat-icon>collections</mat-icon>
              </button>
            </mat-list-item>
            <div class="messages-loading-shade" *ngIf="isLoadingMessages"></div>
          </cdk-virtual-scroll-viewport>
        </mat-list>
      </mat-card-content>
      <mat-card-actions class="d-flex w-100 px-2">
        <input
          type="file"
          class="d-none"
          #imageInput
          (change)="onImageSelected($event)"
        />
        <button
          mat-icon-button
          color="primary"
          class="my-auto mr-1"
          (click)="imageInput.click()"
        >
          <mat-icon>attach_file</mat-icon>
        </button>
        <form
          [formGroup]="form"
          class="d-flex w-100"
          (ngSubmit)="sendMessage($event)"
        >
          <mat-form-field class="w-100 mr-3">
            <mat-label>Mensaje</mat-label>
            <input
              autocomplete="off"
              matInput
              placeholder="Ej. It makes me feel..."
              formControlName="message"
            />
          </mat-form-field>
          <button type="submit" mat-mini-fab color="primary" class="my-auto">
            <mat-icon>send</mat-icon>
          </button>
        </form>
      </mat-card-actions>
    </mat-card>
  </div>
</div>
