.example-radio-group {
  display: flex;
  flex-direction: column;
  margin: 15px 0;
}

.example-radio-button {
  margin: 5px;
}

.example-form {
  min-width: 150px;
  max-width: 500px;
  width: 100%;
}

.example-full-width {
  width: 100%;
}

.card {
  max-width: 600px;
}

.example-section {
  margin: 12px 0;
}

ul {
  list-style-type: none;
  margin-top: 4px;
  padding-left: 4px;
}

.verde {
  width: 20px;
  height: 20px;
  background: green;
}

.naranja {
  width: 20px;
  height: 20px;
  background: orange;
}

.amarillo {
  width: 20px;
  height: 20px;
  background: yellow;
}

.rojo {
  width: 20px;
  height: 20px;
  background: red;
}
