<h1>Pacientes</h1>
<p>
  Aquí puede visualizar a sus pacientes y llevar un monitoreo de la evolución de
  su estado de salud.
</p>
<mat-form-field>
  <mat-label>Buscar por nombres, apellidos o DNI</mat-label>
  <input
    matInput
    (keyup)="applyFilter($event)"
    placeholder="Ej. Maricarmen"
    autocomplete="off"
    #input
  />
</mat-form-field>
<div class="mat-elevation-z8">
  <table mat-table [dataSource]="dataSource" matSort>
    <!-- Nombres Column -->
    <ng-container matColumnDef="nombres">
      <th mat-header-cell *matHeaderCellDef mat-sort-header>Nombres</th>
      <td mat-cell *matCellDef="let element">{{ element.nombres }}</td>
    </ng-container>
    <!-- Apellidos Column -->
    <ng-container matColumnDef="apellidos">
      <th mat-header-cell *matHeaderCellDef mat-sort-header>Apellidos</th>
      <td mat-cell *matCellDef="let element">{{ element.apellidos }}</td>
    </ng-container>
    <!-- DNI Column -->
    <ng-container matColumnDef="dni">
      <th mat-header-cell *matHeaderCellDef mat-sort-header>DNI</th>
      <td mat-cell *matCellDef="let element">{{ element.dni }}</td>
    </ng-container>
    <!-- DNI Column -->
    <ng-container matColumnDef="ue">
      <th mat-header-cell *matHeaderCellDef mat-sort-header>Ultimo estado</th>
      <td mat-cell *matCellDef="let element">{{ element.ue }}</td>
    </ng-container>
    <!-- DNI Column -->
    <ng-container matColumnDef="ur">
      <th mat-header-cell *matHeaderCellDef>Ultima recomendación</th>
      <td mat-cell *matCellDef="let element">{{ element.ur }}</td>
    </ng-container>
    <!-- Acciones Column -->
    <ng-container matColumnDef="acciones">
      <th mat-header-cell *matHeaderCellDef>Acciones</th>
      <td mat-cell *matCellDef="let element">
        <button
          mat-mini-fab
          matTooltip="Detalle"
          color="primary"
          class="mr-2"
          (click)="openDetails(element)"
        >
          <mat-icon>description</mat-icon>
        </button>
        <button
          mat-mini-fab
          color="accent"
          class="mr-2"
          (click)="openTeletriages(element)"
          matTooltip="Teletriajes"
        >
          <mat-icon>table_view</mat-icon>
        </button>
        <button
          mat-mini-fab
          color="warn"
          (click)="openEpicrisis(element)"
          matTooltip="Epicrisis"
        >
          <mat-icon>description</mat-icon>
        </button>
      </td>
    </ng-container>

    <!-- <ng-container matColumnDef="loading">
      <th mat-footer-cell *matFooterCellDef colspan="6">Cargando datos...</th>
    </ng-container> -->
    <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
    <tr mat-row *matRowDef="let row; columns: displayedColumns"></tr>
    <!-- <tr
      mat-footer-row
      *matFooterRowDef="['loading']"
      [ngClass]="{ hide: dataSource != null }"
    ></tr> -->
    <!-- Row shown when there is no matching data. -->
    <tr class="mat-row" *matNoDataRow>
      <td class="mat-cell" colspan="6">No hay datos disponibles.</td>
    </tr>
  </table>
  <mat-paginator
    [pageSizeOptions]="[5, 10, 20]"
    showFirstLastButtons
    [pageSize]="5"
  ></mat-paginator>
</div>
