<h1>Próximas teleconsultas</h1>
<p>A continuación podrá visualizar las proximas citas que tiene programadas</p>
<div
  class="d-flex justify-content-end mb-3"
  *ngIf="loggedIn.roles[0] === 'doctor'"
>
  <button mat-raised-button color="primary" (click)="addAppointment()">
    Agregar nueva cita
  </button>
</div>
<app-calendar-header
  [(view)]="view"
  [(viewDate)]="viewDate"
  (viewDateChange)="fetchEvents()"
  (viewChange)="fetchEvents()"
>
</app-calendar-header>
<ng-template #loading>
  <div class="text-center">
    <i class="fas fa-spin fa-spinner fa-5x"></i> <br />
    Loading events...
  </div>
</ng-template>
<div *ngIf="events$ | async; else loading; let events">
  <div [ngSwitch]="view">
    <mwl-calendar-month-view
      *ngSwitchCase="'month'"
      [viewDate]="viewDate"
      [events]="events"
      [activeDayIsOpen]="activeDayIsOpen"
      (dayClicked)="dayClicked($event.day)"
      (eventClicked)="eventClicked($event.event)"
    >
    </mwl-calendar-month-view>
    <mwl-calendar-week-view
      *ngSwitchCase="'week'"
      [viewDate]="viewDate"
      [events]="events"
      (eventClicked)="eventClicked($event.event)"
    >
    </mwl-calendar-week-view>
    <mwl-calendar-day-view
      *ngSwitchCase="'day'"
      [viewDate]="viewDate"
      [events]="events"
      (eventClicked)="eventClicked($event.event)"
    >
    </mwl-calendar-day-view>
  </div>
</div>
