<mat-sidenav-container
  class="sidenav-container"
  *ngIf="loggedIn$ | async as loggedIn"
>
  <mat-sidenav
    #drawer
    class="sidenav"
    fixedInViewport
    [attr.role]="(isHandset$ | async) ? 'dialog' : 'navigation'"
    [mode]="(isHandset$ | async) ? 'over' : 'side'"
    [opened]="(isHandset$ | async) === false"
  >
    <mat-toolbar class="bg-primary">Menu</mat-toolbar>
    <div class="my-3 text-center" *ngIf="loggedIn.roles[0] === 'paciente'">
      <img src="assets/img/user.png" alt="Avatar" class="avatar" />
    </div>
    <div class="my-3 text-center" *ngIf="loggedIn.roles[0] === 'doctor'">
      <img src="assets/img/doctor.png" alt="Avatar" class="avatar" />
    </div>

    <!-- <div class="mb-3 text-center font-weight-bold">
      {{ loggedIn.nombres }} {{ loggedIn.apellidos }}
    </div> -->
    <mat-divider></mat-divider>
    <mat-nav-list class="pt-0">
      <a mat-list-item routerLink="/home" routerLinkActive="select">Inicio</a>
      <a mat-list-item routerLink="/meet" routerLinkActive="select"
        >Teleconsulta</a
      >
      <a mat-list-item routerLink="/appointments" routerLinkActive="select"
        >Citas</a
      >
      <a
        *ngIf="loggedIn.roles[0] === 'paciente'"
        mat-list-item
        routerLink="/teletry"
        routerLinkActive="select"
      >
        Teletriaje</a
      >
      <a
        *ngIf="loggedIn.roles[0] === 'paciente'"
        mat-list-item
        routerLink="/teletriages"
        routerLinkActive="select"
      >
        Mis Teletriajes</a
      >
      <!-- <a
        *ngIf="loggedIn.roles[0] === 'paciente'"
        mat-list-item
        routerLink="/prescriptions"
      >
        Recetas</a
      > -->
      <!-- <a *ngIf="loggedIn.roles[0] === 'doctor'" mat-list-item routerLink="/fuat"
        >Fuat</a
      > -->
      <!-- <a
        *ngIf="loggedIn.roles[0] === 'doctor'"
        mat-list-item
        routerLink="/reports"
        >Reportes</a
      > -->
      <a mat-list-item routerLink="/chat" routerLinkActive="select">Chat</a>
      <!-- <a mat-list-item routerLink="/forum">Foro</a> -->
      <a
        *ngIf="loggedIn.roles[0] === 'paciente'"
        mat-list-item
        routerLink="/questions"
        routerLinkActive="select"
        >Preguntas</a
      >
      <a
        *ngIf="loggedIn.roles[0] === 'doctor'"
        mat-list-item
        routerLink="/patients"
        routerLinkActive="select"
        >Mis pacientes</a
      >
    </mat-nav-list>
  </mat-sidenav>
  <mat-sidenav-content>
    <mat-toolbar color="primary">
      <button
        type="button"
        aria-label="Toggle sidenav"
        mat-icon-button
        (click)="drawer.toggle()"
        *ngIf="isHandset$ | async"
      >
        <mat-icon aria-label="Side nav toggle icon">menu</mat-icon>
      </button>
      <span class="mr-auto">Sistema Oncológico de Teleconsulta</span>
      <button mat-button [matMenuTriggerFor]="beforeMenu" style="color: white">
        <mat-icon class="mr-2">account_circle</mat-icon>{{ loggedIn.nombres }}
      </button>
      <mat-menu #beforeMenu="matMenu" xPosition="before">
        <!-- <button mat-menu-item><mat-icon>person</mat-icon>Mi cuenta</button> -->
        <button mat-menu-item (click)="logout()">
          <mat-icon>exit_to_app</mat-icon>Cerrar sesión
        </button>
      </mat-menu>
    </mat-toolbar>
    <!-- Add Content Here -->
    <div class="container py-3">
      <router-outlet></router-outlet>
    </div>
  </mat-sidenav-content>
</mat-sidenav-container>
