.sidenav-container {
  height: 100%;
}

.sidenav {
  width: 200px;
}

.sidenav .mat-toolbar {
  background: inherit;
}

.mat-toolbar.mat-primary {
  position: sticky;
  top: 0;
  z-index: 1;
}

.dot {
  background-image: url("https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcRBLXh6UTPGZy1H9Oq_UUdhLqh06Ns-SbV6xQ&usqp=CAU");
  background-size: cover;
  height: 50px;
  width: 50px;
  border-radius: 50%;
}

.font-weight-bold {
  font-weight: bold;
}
