.mat-stepper-horizontal {
  margin-top: 8px;
}

table {
  width: 100%;
}

.mat-form-field {
  font-size: 14px;
  width: 100%;
}

td,
th {
  width: 25%;
}

.hide {
  display: none;
}

.form {
  margin-top: 14px;
  max-width: 750px;
  width: 100%;
}
