<h1>Información de Teleconsulta</h1>
<p>
  Lorem ipsum dolor, sit amet consectetur adipisicing elit. Quisquam quam beatae
  sapiente quis debitis! Consequuntur labore impedit doloremque. Ipsum neque
  quod veniam, alias fuga autem architecto hic labore commodi repellat!
</p>
<img
  *ngIf="user.roles[0] === 'doctor'"
  src="assets/img/doctor_wallpaper.png"
  alt="wallpaper img"
  class="wallpaper-img"
/>
<img
  *ngIf="user.roles[0] === 'paciente'"
  src="assets/img/user_wallpaper.png"
  alt="wallpaper img"
  class="wallpaper-img"
/>
<!-- <div class="row row-cols-1 row-cols-md-3 row-cols-lg-4">
  <div *ngFor="let _ of [1, 2, 3, 4, 5, 6]" class="col mb-4">
    <mat-card>
      <img mat-card-image src="assets/img/teleconsult.jpg" alt="Image" />
      <mat-card-content>
        <p>
          Lorem ipsum dolor sit amet consectetur adipisicing elit. Quae sit
          magnam, dolor nesciunt pariatur expedita molestias dolores ex
          repudiandae ducimus, reprehenderit ea ratione, repellat in deserunt
          odit nobis! Eum, repudiandae?
        </p>
      </mat-card-content>
    </mat-card>
  </div>
</div> -->
