<h1>Mis Teletriajes</h1>
<p>
  Aquí puede visualizar los resultados de las encuestas que viene llenando.
</p>
<mat-form-field>
  <mat-label>Buscar por N°, fecha o recomendacion</mat-label>
  <input
    matInput
    (keyup)="applyFilter($event)"
    placeholder="Ej. Maricarmen"
    autocomplete="off"
    #input
  />
</mat-form-field>
<div class="mat-elevation-z8">
  <table mat-table [dataSource]="dataSource" matSort>
    <!-- Nombres Column -->
    <ng-container matColumnDef="numero">
      <th mat-header-cell *matHeaderCellDef mat-sort-header>N°</th>
      <td mat-cell *matCellDef="let element">{{ element.numero }}</td>
    </ng-container>
    <!-- Apellidos Column -->
    <ng-container matColumnDef="created_at">
      <th mat-header-cell *matHeaderCellDef mat-sort-header>Fecha</th>
      <td mat-cell *matCellDef="let element">{{ element.created_at }}</td>
    </ng-container>
    <!-- DNI Column -->
    <ng-container matColumnDef="indicadores">
      <th mat-header-cell *matHeaderCellDef>Indicadores de estado</th>
      <td mat-cell *matCellDef="let element">
        <div class="d-flex text-center">
          <div class="mr-1">
            <div class="verde"></div>
            {{ element.verde }}
          </div>
          <div class="mr-1">
            <div class="amarillo"></div>
            {{ element.amarillo }}
          </div>
          <div class="mr-1">
            <div class="naranja"></div>
            {{ element.naranja }}
          </div>
          <div class="mr-1">
            <div class="rojo"></div>
            {{ element.rojo }}
          </div>
        </div>
      </td>
    </ng-container>
    <!-- DNI Column -->
    <ng-container matColumnDef="recomendacion">
      <th mat-header-cell *matHeaderCellDef mat-sort-header>Recomendacion</th>
      <td mat-cell *matCellDef="let element">{{ element.recomendacion }}</td>
    </ng-container>
    <!-- Acciones Column -->
    <ng-container matColumnDef="acciones">
      <th mat-header-cell *matHeaderCellDef>Acciones</th>
      <td mat-cell *matCellDef="let element">
        <button
          mat-mini-fab
          color="primary"
          class="mr-2"
          matTooltip="Medicación"
          (click)="selectTeletry(element)"
        >
          <mat-icon>description</mat-icon>
        </button>
      </td>
    </ng-container>

    <!-- <ng-container matColumnDef="loading">
      <th mat-footer-cell *matFooterCellDef colspan="6">Cargando datos...</th>
    </ng-container> -->
    <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
    <tr mat-row *matRowDef="let row; columns: displayedColumns"></tr>
    <!-- <tr
      mat-footer-row
      *matFooterRowDef="['loading']"
      [ngClass]="{ hide: dataSource != null }"
    ></tr> -->
    <!-- Row shown when there is no matching data. -->
    <tr class="mat-row" *matNoDataRow>
      <td class="mat-cell" colspan="6">No hay datos disponibles.</td>
    </tr>
  </table>
  <mat-paginator
    [pageSizeOptions]="[5, 10, 20]"
    showFirstLastButtons
    [pageSize]="5"
  ></mat-paginator>
</div>
