table {
  width: 100%;
}

.mat-form-field {
  font-size: 14px;
  width: 100%;
}

.hide {
  display: none;
}

.verde {
  width: 20px;
  height: 20px;
  background: green;
}

.naranja {
  width: 20px;
  height: 20px;
  background: orange;
}

.amarillo {
  width: 20px;
  height: 20px;
  background: yellow;
}

.rojo {
  width: 20px;
  height: 20px;
  background: red;
}

.example-card {
  max-width: 400px;
}

