.form {
  width: 100%;
  min-width: 225px;
  max-width: 750px;
}

.rojo {
  background-color: #ff9e81;
}

.amarillo {
  background-color: #ffff9e;
}

.verde {
  background-color: #95c799;
}

.naranja {
  background-color: #ffd196;
}
