<div class="login">
  <div class="login-box">
    <form [formGroup]="form" (ngSubmit)="login($event)">
      <!-- <mat-progress-bar
          mode="indeterminate"
          *ngIf="isLoading"
        ></mat-progress-bar> -->
      <mat-card class="mat-elevation-z10">
        <img mat-card-image src="assets/img/teleconsult.jpg" alt="Image" />
        <!-- <mat-card-header> -->
        <!-- <div mat-card-avatar class="header-image"></div> -->
        <!-- <mat-card-title class="text-center">Sistema Oncológico de Teleconsulta</mat-card-title> -->
        <!-- <mat-card-subtitle>Ingrese sus credenciales</mat-card-subtitle> -->
        <!-- </mat-card-header> -->
        <!-- <h1>Zoom WebSDK Sample Angular</h1>
        <button (click)="getSignature()">Join Meeting</button> -->

        <mat-card-content>
          <mat-form-field class="w-100" appearance="fill">
            <mat-label>Correo electrónico</mat-label>
            <input
              formControlName="email"
              type="email"
              matInput
              placeholder="Ex. pat@example.com"
            />
          </mat-form-field>
          <mat-form-field class="w-100" appearance="fill">
            <mat-label>Contraseña</mat-label>
            <input formControlName="password" type="password" matInput />
          </mat-form-field>
          <div class="text-center">
            <button
              type="submit"
              mat-flat-button
              color="primary"
              [disabled]="form.invalid || isLoading"
            >
              Ingresar al sistema
            </button>
          </div>
        </mat-card-content>
        <!-- <mat-card-actions class="d-flex justify-content-center">
            
            <a mat-stroked-button href="https://www.google.com/" target="_blank"
              >Recuperar contraseña</a
            >
          </mat-card-actions> -->
        <!-- <div class="loading-shade" *ngIf="isLoading"></div> -->
      </mat-card>
    </form>
  </div>
</div>
