<!-- <h1>Preguntas frecuentes</h1> -->
<h2>¿Que es una infeccion del sitio quirúrgico?</h2>
<p>
  Una infección del sitio quirúrgico es una infección que ocurre después de la
  cirugía en la parte del cuerpo donde se realizó la operación. La mayoría de
  los pacientes que tienen cirugías no contraen infecciones. Sin embargo, de
  cada aproximadamente 100 pacientes que tienen cirugías, entre uno y tres
  contraen infecciones. Algunos de los síntomas comunes de una infección del
  sitio quirúrgico son:
</p>
<ul>
  <li>
    Enrojecimiento y dolor alrededor de la herida o del área donde tuvo cirugía
  </li>
  <li>Drenaje de líquido purulento de la herida quirúrgica</li>
  <li>Fiebre</li>
</ul>
<h2>¿Pueden tratarse las infecciones del sitio quirúrgico?</h2>
<p>
  Sí. La mayoría de las infecciones del sitio quirúrgico pueden tratarse con
  antibióticos. El antibiótico que se le recetará dependerá del tipo de bacteria
  o germen que esté causando la infección. Algunas veces los pacientes con una
  infección del sitio quirúrgico también necesitan otra cirugía para tratar la
  infección.
</p>
<h2>
  ¿Cuáles son algunas de las medidas que los hospitales están tomando para
  prevenir infecciones del sitio quirúrgico?
</h2>
<p>
  Para prevenir infecciones del sitio quirúrgico, los doctores, enfermeras, y
  otros proveedores de atención médica:
</p>
<ul>
  <li>
    Se lavan las manos y los brazos hasta el codo utilizando una solución
    antiséptica justo antes de la cirugía.
  </li>
  <li>
    Se lavan las manos con agua y jabón o usan un desinfectante para manos a
    base de alcohol antes y después de atender a cada paciente.
  </li>
  <li>
    Si en el área donde se llevará a cabo el procedimiento hay pelo, es probable
    que se lo quiten inmediatamente antes de su cirugía utilizando una máquina
    eléctrica para cortar el cabello. No deben rasurar el pelo con una navaja de
    afeitar.
  </li>
  <li>
    Usan un gorro especial para el cabello, mascarilla, bata y guantes durante
    la cirugía para mantener limpia el área de la cirugía.
  </li>
  <li>
    Le administrarán antibióticos antes de que empiece su cirugía. En la mayoría
    de los casos, usted debe recibir antibióticos aproximadamente 60 minutos
    antes de empezar la cirugía y deben dejar de dárselos dentro de un período
    de 24 horas después de su cirugía.
  </li>
  <li>
    Limpian la piel del área de la cirugía con un jabón especial que mata los
    gérmenes.
  </li>
</ul>
<h2>
  ¿Qué puedo hacer para ayudar a prevenir infecciones del sitio quirúrgico?
</h2>
<p style="font-weight: bold">Antes de su cirugía:</p>
<ul>
  <li>
    Dígale a su doctor si cree tener algún otro problema médico. Los problemas
    de salud como alergias, diabetes y obesidad pueden afectar su cirugía y
    tratamiento.
  </li>
  <li>
    Deje de fumar. Los pacientes que fuman Preguntas frecuentes “Infecciones del
    sitio quirúrgico” Copatrocinado por: contraen más infecciones. Hable con su
    doctor sobre cómo puede dejar de fumar antes de su cirugía.
  </li>
  <li>
    No se rasure cerca de donde va a tener la cirugía. Rasurarse con una navaja
    de afeitar puede irritar la piel y facilitar que se desarrolle una
    infección.
  </li>
</ul>
<p style="font-weight: bold">En el momento de su cirugía:</p>
<ul>
  <li>
    Diga algo si alguien trata de rasurarle con un rastrillo antes de la
    cirugía. Pregunte por qué se necesita que le rasuren y hable con su cirujano
    si algo le preocupa.
  </li>
  <li>Pregunte si van a darle antibióticos antes de la cirugía.</li>
</ul>
<p style="font-weight: bold">Despues de su cirugia:</p>
<ul>
  <li>
    Asegúrese de que sus proveedores de atención médica se laven las manos antes
    de examinarle, ya sea con agua y jabón o usando un desinfectante para manos
    a base de alcohol. Si usted no ve a sus proveedores de atención médica
    lavarse las manos, por favor pídales que lo hagan.
  </li>
  <li>
    Sus familiares y amigos que lo visitan no deben tocar la herida quirúrgica o
    el vendaje.
  </li>
  <li>
    Sus familiares y amigos deben lavarse las manos con agua y jabón o con un
    desinfectante para manos a base de alcohol antes y después de visitarlo. Si
    usted no los ve lavarse las manos, pídales que lo hagan.
  </li>
</ul>
<h2>Preguntas que debe hacerle a su Doctor:</h2>
<ul>
  <li>¿Qué tipo de medicamentos se recomiendan?</li>
  <li>¿Se combinará este tratamiento con otros tratamientos?</li>
  <li>¿Cuál es el objetivo de este tratamiento?</li>
  <li>¿Cuánto tiempo durará la administración de este tratamiento?</li>
  <li>¿Qué efectos secundarios puedo esperar durante el tratamiento?</li>
  <li>
    ¿Con quién debo comunicarme si experimento algún efecto secundario? ¿Cuán
    pronto debo comunicarme?
  </li>
  <li>
    ¿Cuáles son los posibles efectos a largo plazo de realizar este tratamiento?
  </li>
  <li>¿Qué puedo hacer para aliviar los efectos secundarios?</li>
  <li>
    ¿Cuál es la probabilidad de que reaparezca el cáncer? ¿Debería prestar
    atención a la aparición de signos o síntomas específicos?
  </li>
  <li>
    ¿Qué efectos secundarios a largo plazo o efectos tardíos son posibles según
    el tratamiento para el cáncer que recibí?
  </li>
  <li>¿Qué pruebas de seguimiento necesitaré y con qué frecuencia?</li>
  <li>
    ¿Cómo obtengo un resumen del tratamiento y el plan de atención de
    sobrevivencia para conservarlos en mis registros personales?
  </li>
  <li>¿Quién estará a cargo de mi atención de seguimiento?</li>
</ul>
